<!DOCTYPE html>
<html>
<head>
    <title>Linear Regression Prediction</title>
</head>
<body>
    <h1>Dự đoán với Linear Regression</h1>
    <form method="POST">
        <label>Nhập dữ liệu:</label><br>
        <input type="text" name="feature1" placeholder="longitude"><br>
        <input type="text" name="feature2" placeholder="latitude"><br>
        <input type="text" name="feature3" placeholder="housing_median_age"><br>
        <input type="text" name="feature4" placeholder="total_rooms"><br>
        <input type="text" name="feature5" placeholder="total_bedrooms"><br>
        <input type="text" name="feature6" placeholder="population"><br>
        <input type="text" name="feature7" placeholder="households"><br>
        <input type="text" name="feature8" placeholder="median_income"><br>
        <input type="text" name="feature10" placeholder="ocean_proximity"><br>
        <input type="submit" value="Dự đoán">
    </form>
    {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
    {% endif %}
</body>
</html>
